.file-preview {
	padding: 15px;
	margin-bottom: 0;
	border: unset;
	border-radius: unset;
}

.file-input .card-body {
	margin-left: -1px;
	margin-right: -1px;
}

.file-video .file-preview-thumbnails {
	height: 400px;
}

.file-audio .file-preview-thumbnails {
	height: 60px;
}

.file-image .file-preview-thumbnails {
	height: 400px;
	overflow: hidden;
}
