.carousel .fp-tableCell {
	width: 100%;
}

main {
	position: relative;
	height: 100vh;
	overflow: hidden;
	margin: 0 -15px;
}

#slider {
	width: 100vw;
	height: calc(100vh - 112px);
	position: relative;
}

#slider #image-list {
	overflow: hidden;
	visibility: hidden;
}

#slider img {
	width: 100%;
	max-width: 100%;
	position: relative;
	z-index: 0;
}

.slider-inner {
	position: absolute;
	width: 28%;
	top: 50%;
	text-align: right;
	z-index: 5;
	transform: translateY(-50%);
}

#slider-content {
	padding: 10px;
	background-color: black;
	opacity: 0.6;
}

#slider-content #slide-title {
	font-size: 50px;
	letter-spacing: -1px;
	color: white;
	line-height: 50px;
	margin: 20px 0 30px;
}

#slider-content .meta {
	display: inline-block;
	font-family: 'Arial', sans-serif;
	font-size: 11px;
	letter-spacing: 5px;
	color: #88888a;
	text-transform: uppercase;
	position: relative;
}

@media screen and (min-width: 800px) {
	#slider-content .meta {
		font-size: 13px;
	}
}

/*#slider-content .meta:after {*/
/*content: '';*/
/*display: block;*/
/*position: absolute;*/
/*top: 5px;*/
/*right: -55px;*/
/*width: 45px;*/
/*height: 2px;*/
/*background-color: #393d40;*/
/*}*/

#slider-content #slide-status {
	margin-top: 10px;
	font-family: 'acta-display', serif;
	font-weight: 400;
	font-size: 18px;
	color: white;
}

@media screen and (min-width: 800px) {
	#slider-content #slide-status {
		font-size: 34px;
	}
}

#pagination {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	z-index: 6;
}

#pagination button {
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	width: 16px;
	height: 16px;
	background-color: #FFFFFF;
	border-radius: 100%;
	padding: 0;
	margin: 30px 0;
	cursor: pointer;
	position: relative;
	opacity: 0.2;
	transition: opacity 0.2s ease-in-out;
	outline: none;
}

#pagination button:hover {
	opacity: 0.5;
}

#pagination button.active {
	opacity: 1;
}

#pagination button.active:before {
	width: 300%;
	height: 300%;
	opacity: 1;
}

#pagination button:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	opacity: 0;
	transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}
