.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}

.ck.ck-editor__main .ck-content.ck-rounded-corners {
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	min-height: 250px;
}

.ck-editor .ck-toolbar .ck-button_with-text {
	border: 1px solid #ced4da;
}